@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes infinitediscountbanner {
  0% {
    background: #393939;
  }
  50% {
    background: #5BACC3;
  }
  100% {
    background: #393939;
  }
}
@keyframes infinitediscountbanner {
  0% {
    background: #393939;
  }
  50% {
    background: #5BACC3;
  }
  100% {
    background: #393939;
  }
}
/* This is for the Herolanding section  */
.heroland__container {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.heroland__card {
  height: 40rem;
  width: 25rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroland__card--textleft {
  margin: 2.5rem 0;
}
.heroland__cardimage {
  height: 35rem;
  width: 20rem;
}

/* Our products */
.ourproducts {
  /*where the our products cards are*/
  /* end of cards */
}
.ourproducts__container {
  display: flex;
  flex-direction: column;
}
.ourproducts__title {
  margin: 0px auto;
  padding: 2rem 2rem;
  font-size: 5rem;
  text-align: center;
}
.ourproducts__cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.ourproducts__card {
  height: 32rem;
  width: 25rem;
  min-width: 25rem;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(8, 8, 8, 0.2);
  text-align: center;
  color: black;
  margin: 1rem 4rem;
}
.ourproducts__cardimagecontainer {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.ourproducts__cardimage {
  margin: 2rem auto;
}
.ourproducts__cardimage:hover {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}
.ourproducts__carddescriptcontainer {
  height: 35%;
  width: 100%;
  margin: 0;
  background-color: #fff0ed;
  display: flex;
  flex-direction: row;
}
.ourproducts__carddescription {
  width: 75%;
}
.ourproducts__cardproducttitle {
  font-size: 2.25rem;
  text-align: left;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
.ourproducts__cardproductportion {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: auto;
  margin-left: 1.5rem;
  color: #636363;
}
.ourproducts__cardpricingcontainer {
  width: 25%;
}
.ourproducts__cardpricing {
  font-size: 2.25rem;
  color: #5BACC3;
  font-weight: 900;
  margin-top: 4rem;
}
.ourproducts__viewall {
  margin: 0px auto;
  text-align: center;
  padding: 3rem 5rem;
  font-size: 1.5rem;
}
.ourproducts__viewallbutton {
  width: 10rem;
  margin: 0 auto;
  padding: 0.75rem 2.25rem;
}

.discount-banner {
  color: #FFF;
  font-size: 2.5rem;
  background-color: #393939;
  text-align: center;
  width: 60%;
  margin: 100px auto;
  padding: 10px;
  -webkit-animation: infinitediscountbanner 2.5s infinite;
          animation: infinitediscountbanner 2.5s infinite;
}

/* This is for the footer */
.contact__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.contact__card {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30rem;
  padding: 0.5rem;
  margin-left: 2rem;
}/*# sourceMappingURL=landing.css.map */